.cartItem-container {
  padding: 2vh;
}

.cartItem-products {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cartItem-products a {
  color: black;
  text-decoration: none;
}

.cartItem-products-img-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  justify-content: space-around;
}

.cartItem-products-img-title img {
  width: 90px;
}

.cartItem-products-img-title h3 {
  font-size: 0.8em;
  font-weight: 400;
  text-align: right;
}

.cartItem-products-free-shipping {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}

.cartItem-products-free-shipping img {
  width: 40px;
}

.cartItem-products-free-shipping h2 {
  font-size: 1.2em;
}

.cartItem-products h4 {
  font-size: 1em;
  font-weight: 400;
  padding: 2vh;
}

.carItem-products-addbtn {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cartItem-products-btn-addCart {
  align-items: center;
  background-color: #003be5ff;
  border: none;
  color: white;
  display: flex;
  height: 6vh;
  justify-content: space-evenly;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}

.cartItem-products-btn-addCart img {
  width: 20px;
}

@media screen and ( min-width : 768px ) {

  .cartItem-products-img-title img {
    width: 100px;
  }

  .cartItem-products-img-title h3 {
    font-size: 1em;
  }

  .cartItem-products h4 {
    font-size: 1.1em;
  }
}
