.categories-container {
  padding: 2vh;
  text-align: center;
}

.categories-btn {
  align-items: center;
  background-color: #003be5ff;
  border: none;
  color: white;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  justify-content: space-evenly;
  letter-spacing: 2px;
  padding: 2vh;
  text-transform: uppercase;
  width: 100%;
}

.categories-btn img {
  width: 25px;
}

.categories-list {
  margin-top: 1vh;
  text-align: left;
}

.categories-list li {
  list-style: none;
  margin-left: 1px;
  padding: 0.5vh;
}

.input-radio {
  margin-right: 1vh;
}

